.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__brand {
  margin: 0;
  padding: 0;
}
.header-links__link {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  color: #000;
  padding-right: 19px;
}