.info-block {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/Rectangle.png);
  background-size: auto, cover;
  color: #ffffff;
}
.info-block__content {
  padding: 35px 0;
}
.info-block__title {
  margin: 0;
}
.info-block__text {
  margin: 0;
}
.title {
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  padding-bottom: 22px;
  text-transform: uppercase;
}
.contacts {
  background: #23374F;
}
.contacts__content {
  text-align: center;
  color: #ffffff;
  padding: 31px 0 33px 0;
}
.contacts__title {
  padding-bottom: 22px;
}
.contacts-links__link {
  color: #ffffff;
  text-decoration: none;
}