<div class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__links">
        <a class="footer-links__link" href="./index.html">Главная</a>
        <a class="footer-links__link" href="./blog.html">Мой блог</a>
        <a class="footer-links__link" href="./story.html">Подробнее обо мне</a>
        <a class="footer-links__link" href="./dl-academy.html">Контакты</a>
      </div>
      <div class="footer__copyright">
      Ⓒ 2019, my-site.ru
      </div>
    </div>
  </div>
</div>
@@include('./../components/callbutton.html')