<div class="header">
  <div class="container">
    <div class="header__content">
      <div class="header__brand">
        <img src="./img/mailchimp_2018_logo_before_after_a.png">
      </div>
      <div class="header__links">
      <a class="header-links__link" href="./index.html">Главная</a>
      <a class="header-links__link" href="./story.html">История обо мне</a>
      <a class="header-links__link" href="./blog.html">Мой блог</a>
      <a class="header-links__link" href="./dl-academy.html">Контакты</a>
      </div>
    </div>
  </div>
</div>